<h4>Secret word: </h4>
<h4>
  <% @letters.each do |l| %>
  	<% if @guessed_letters.include? l %>
  	  <%= l %>
  	<% else %>
  	  _
  	<% end %>
  <% end %> 
</h4>
</br>

<p>Bad guesses till now: <%= @bad_guesses %></p>

<form action="/take_guess" method="POST"> 
  <label>Letter:</label>
  <input name="guess" type="text">
  
  <button type="submit">Use this letter</button>
</form> 
